<!DOCTYPE html>
<html lang="zxx">

<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
		
	
	
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="blog-single.html">Cart</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->
			
	<!-- Shopping Cart -->
	<div class="shopping-cart section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">TOTAL</th> 
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
							
							<tr *ngFor="let tempCartItem of cartItems">
								<td class="image" data-title="No"><img src="{{ tempCartItem.imageUrl }}" alt="#"></td>
								<td class="product-des" data-title="Description">
									<p class="product-name"><a href="#">{{ tempCartItem.name }}</a></p>
								</td>
								<td class="price" data-title="Price"><span>{{ tempCartItem.unitPrice | currency: 'USD' }} </span></td>
								<td class="qty" data-title="Qty"><!-- Input Order -->
									<div class="input-group">
										<div class="button minus">
											<button (click)="decrementQuantity(tempCartItem)"type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[3]">
												<i class="ti-minus"></i>
											</button>
										</div>
										<input type="text" name="quant[3]" class="input-number"  data-min="1" data-max="100" value="3">
										<div class="button plus">
											<button (click)="incrementQuantity(tempCartItem)" type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[3]">
												<i class="ti-plus"></i>
											</button>
										</div>
									</div>
									<!--/ End Input Order -->
								</td>
								<td class="total-amount" data-title="Total"><span>{{ tempCartItem.quantity }}</span></td>
								<button (click)="remove(tempCartItem)" class="action" data-title="Remove"><a href="#"><i class="ti-trash remove-icon">Remove</button>

								
							</tr>
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul>
										<li>Cart Subtotal<span> {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'USD' }}</span></li>
										<li>Shipping<span>Free</span></li>
										
										<li class="last">You Pay<span>Total Price: {{ totalPrice | currency: 'USD' }}</span></li>
									</ul>
									<div class="button5">
										<a routerLink="/checkout" class="btn">Checkout</a>
										<a href="#" class="btn">Continue shopping</a>
									</div>
									<div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
										Your shopping cart is empty. 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	

	
	
	

       
	

</body>
</html>